body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    margin-top: 0;
}

nav {
    margin: 20px 0;
    background-color: #007bff; /* Cor de fundo da barra de navegação */
    border-radius: 0 0 10px 10px; /* Arredonda apenas as bordas inferiores */
    padding: 10px;
}

.tab-button {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #007bff;
    color: #fff;
}
/* Adiciona estilo para o botão ativo */
.tab-button.active {
    background-color: #0056b3;
    color: #fff;
}

/* Estiliza a transição suave das seções */
.section {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fafafa;
    width: 100%;
    max-width: 800px; /* Limita a largura máxima */
    transition: opacity 0.3s ease-in-out; /* Transição suave */
}
